<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Pages / Register - NiceAdmin Bootstrap Template</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="assets/img/favicon.png" rel="icon">
  <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.gstatic.com" rel="preconnect">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

</head>

<body>

  <main>
    <div class="container"><br><br><br>
      <section class="section register min-vh-100 d-flex flex-column align-items-center justify-content-center py-4">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-lg-4 col-md-6 d-flex flex-column align-items-center justify-content-center">
              <div class="card-wrapper position-relative">
    
                <div class="logo-wrapper position-absolute d-flex justify-content-center py-4" style="top: -100px; z-index: 100;">
                  <a href="">
                    <img src="assets/img/logo.png" alt="" width="auto" height="100px" style="z-index: 100;">
                  </a>
                </div><!-- End Logo -->
    
                <div class="card mb-3" style="margin-top: -100px;">
                  <div class="card-body">
                    <div class="pt-4 pb-2" style="margin-top: -20px;">
                      <h5 class="card-title text-center pb-0 fs-4">Crea una Cuenta</h5>
                      <p class="text-center small" style="margin-top: -10px; font-size: 13px;">Ingrese la siguiente información</p>
                    </div>
                
                      <div class="flex flex-wrap gap-3" style="margin-top: 10px;">
                        <div class="flex align-items-center">
                            <p-radioButton name="ciudadano" value="ciudadano" [(ngModel)]="tipo" inputId="tipo1" (onClick)="ngOnInit()"></p-radioButton>
                            <label for="tipo1" class="ml-2" style="font-size: 14px;">Ciudadano</label>
                        </div>
                        
                        <div class="flex align-items-center">
                            <p-radioButton name="negocio" value="negocio" [(ngModel)]="tipo" inputId="tipo2" (onClick)="ngOnInit()"></p-radioButton>
                            <label for="tipo2" class="ml-2" style="font-size: 14px;">Negocio</label>
                        </div>
                      </div>

                    <form #ciudadanoform="ngForm" *ngIf="tipo === 'ciudadano'" (ngSubmit)="register(ciudadanoform)" class="row g-3 needs-validation" novalidate style="margin-top: -15px;">
                      <div class="col-12 form-group">
                        <label for="name" class="form-label" style="font-size: 14px;">Nombres</label>
                        <input type="text" name="name" [(ngModel)]="name" class="form-control" id="name" required style="font-size: 13px;">
                        <div class="invalid-feedback floating-invalid-feedback">Debes ingresar tus nombres!</div>
                      </div>
    
                      <div class="col-12 form-group" style="margin-top: -10px;">
                        <label for="lastname" class="form-label" style="font-size: 14px;">Apellidos</label>
                        <div class="input-group has-validation">
                          <input type="text" name="lastname" [(ngModel)]="lastname" class="form-control" id="lastname" required style="font-size: 13px;">
                          <div class="invalid-feedback floating-invalid-feedback">Ingresa tu nombre de usuario.</div>
                        </div>
                      </div>

                      <div class="col-12 form-group" style="margin-top: -10px;">
                        <label for="telefono" class="form-label" style="font-size: 14px;">Teléfono</label>
                        <div class="input-group has-validation">
                          <input type="text" name="telefono" [(ngModel)]="telefono" pattern="^09\d{8}$" class="form-control" id="telefono" required style="font-size: 13px;">
                          <div class="invalid-feedback floating-invalid-feedback">Ingresa tu número telefónico (10 dígitos)</div>
                        </div>
                      </div>
                      
                      <div class="col-12 form-group" style="margin-top: -10px;">
                        <label for="fechaNacimiento" class="form-label" style="font-size: 14px;">Fecha de Nacimiento</label>
                        <div class="input-group has-validation">
                          <input type="date" name="fechaNacimiento" [(ngModel)]="fechaNacimiento" class="form-control" [max]="maxDate" id="fechaNacimiento" required style="font-size: 13px;">
                          <div class="invalid-feedback floating-invalid-feedback">Ingresa una fecha de nacimiento válida.</div>
                        </div>
                      </div>

                      <div class="col-12 form-group" style="margin-top: -10px;">
                        <label for="email" class="form-label" style="font-size: 14px;">Correo Electrónico</label>
                        <div class="input-group has-validation">
                          <span class="input-group-text" id="inputGroupPrepend">@</span>
                          <input type="email" [(ngModel)]="email" name="email" class="form-control" id="email" required style="font-size: 13px;">
                          <div class="invalid-feedback floating-invalid-feedback">Debes ingresar tu correo electrónico!</div>
                        </div>
                      </div>
                      <!--
                      <div class="col-12 form-group" style="margin-top: -10px;">
                        <label for="password" class="form-label" style="font-size: 14px;">Contraseña</label>
                        <input type="password" name="password" [(ngModel)]="password" class="form-control" id="password" required style="font-size: 13px;">
                        <div class="invalid-feedback floating-invalid-feedback">Debes ingresar tu contraseña!</div>
                      </div>
                      -->
                      <div class="col-12 form-group" style="margin-top: -10px;">
                        <label for="password" class="form-label" style="font-size: 14px;">Contraseña</label>
                        <input minlength="8" maxlength="16" pattern="^(?=.*[A-Z])(?=.*\d)[A-Za-z\d]{8,16}$" type="password" name="password" [(ngModel)]="password" class="form-control" id="password" required style="font-size: 13px;">
                        <div class="invalid-feedback floating-invalid-feedback">Debes ingresar tu contraseña valida (al menos una mayuscula y numero)!</div>
                      </div>
                      
                      <div class="col-12 form-group" style="margin-top: 0px;">
                        <div class="form-check">
                          <input class="form-check-input" name="terms" type="checkbox" value="" id="acceptTerms" required required (change)="onTermsChange($event)">
                          <label class="form-check-label" for="acceptTerms" style="font-size: 12px;">Estoy de acuerdo y acepto los <a href="#">términos y condiciones</a></label>
                          <div class="invalid-feedback floating-invalid-feedback">Debes aceptar antes de enviar.</div>
                        </div>
                      </div>
                      <div class="col-12" style="margin-top: -10px;">
                        <button class="btn btn-primary w-100" type="submit">Crear Cuenta</button>
                      </div>
                      <div class="col-12" style="margin-top: 5px; margin-bottom: -30px;">
                        <p class="small mb-0" style="font-size: 13px;">Ya tienes una cuenta? <a href="/login">Inicia sesión</a></p>
                      </div>
                    </form>
                    

                    <form #negocioform="ngForm" *ngIf="tipo === 'negocio'" (ngSubmit)="register(negocioform)" class="row g-3 needs-validation" novalidate style="margin-top: -15px;">
                      <div class="col-12 form-group">
                        <label for="name" class="form-label" style="font-size: 14px;">Nombre del negocio</label>
                        <input type="text" name="name" [(ngModel)]="name" class="form-control" id="name" required style="font-size: 13px;">
                        <div class="invalid-feedback floating-invalid-feedback">Debes ingresar tus nombres!</div>
                      </div>

                      <div class="col-12 form-group" style="margin-top: -10px;">
                        <label for="propietario" class="form-label" style="font-size: 14px;">Propietario</label>
                        <div class="input-group has-validation">
                          <input type="text" name="propietario" [(ngModel)]="propietario" class="form-control" id="propietario" required style="font-size: 13px;">
                          <div class="invalid-feedback floating-invalid-feedback">Ingresa tu nombre de usuario.</div>
                        </div>
                      </div>
    
                      <div class="col-12 form-group" style="margin-top: -10px;">
                        <label for="t_negocio" class="form-label" style="font-size: 14px;">Tipo de Negocio</label>
                        <div class="input-group has-validation">
                          <input type="text" name="t_negocio" [(ngModel)]="t_negocio" class="form-control" id="t_negocio" required style="font-size: 13px;">
                          <div class="invalid-feedback floating-invalid-feedback">Ingresa tu nombre de usuario.</div>
                        </div>
                      </div>

                      <div class="col-12 form-group" style="margin-top: -10px;">
                        <label for="direccion" class="form-label" style="font-size: 14px;">Direccion</label>
                        <div class="input-group has-validation">
                          <input type="text" name="direccion" [(ngModel)]="direccion" class="form-control" id="direccion" required style="font-size: 13px;">
                          <div class="invalid-feedback floating-invalid-feedback">Ingresa tu nombre de usuario.</div>
                        </div>
                      </div>
                      
                      <div class="col-12 form-group" style="margin-top: -10px;">
                        <label for="fechaCreacion" class="form-label" style="font-size: 14px;">Fecha de creación del negocio</label>
                        <div class="input-group has-validation">
                          <input type="date" name="fechaCreacion" [(ngModel)]="fechaCreacion" class="form-control" id="fechaCreacion" [max]="maxDate" required style="font-size: 13px;">
                          <div class="invalid-feedback floating-invalid-feedback">Ingresa una fecha de creación válida.</div>
                        </div>
                      </div>

                      <div class="col-12 form-group" style="margin-top: -10px;">
                        <label for="telefono" class="form-label" style="font-size: 14px;">Teléfono</label>
                        <div class="input-group has-validation">
                          <input type="text" name="telefono" [(ngModel)]="telefono" pattern="^09\d{8}$" class="form-control" id="telefono" required style="font-size: 13px;">
                          <div class="invalid-feedback floating-invalid-feedback">Ingresa tu número telefónico (10 dígitos)</div>
                        </div>
                      </div>

                      <div class="col-12 form-group" style="margin-top: -10px;">
                        <label for="email" class="form-label" style="font-size: 14px;">Correo Electrónico</label>
                        <div class="input-group has-validation">
                          <span class="input-group-text" id="inputGroupPrepend">@</span>
                          <input type="email" [(ngModel)]="email" name="email" class="form-control" id="email" required style="font-size: 13px;">
                          <div class="invalid-feedback floating-invalid-feedback">Debes ingresar tu correo electrónico!</div>
                        </div>
                      </div>
                      
                      <div class="col-12 form-group" style="margin-top: -10px;">
                        <label for="password" class="form-label" style="font-size: 14px;">Contraseña</label>
                        <input minlength="8" maxlength="16" pattern="^(?=.*[A-Z])(?=.*\d)[A-Za-z\d]{8,16}$" type="password" name="password" [(ngModel)]="password" class="form-control" id="password" required style="font-size: 13px;">
                        <div class="invalid-feedback floating-invalid-feedback">Debes ingresar tu contraseña valida (al menos una mayuscula y numero)!</div>
                      </div>

                      <!--
                      <div class="col-12 form-group" style="margin-top: -10px;">
                        <label for="image" class="form-label" style="font-size: 14px;">Subir Imagen</label>
                        <p-fileUpload name="image" accept="image/*" [maxFileSize]="1000000" (onUpload)="onUpload($event)" [customUpload]="true" chooseLabel="Elegir" uploadLabel="Subir" cancelLabel="Cancelar"></p-fileUpload>
                      </div>
                      -->
                      
                      <div class="col-12 form-group" style="margin-top: -10px;">
                        <label for="image" class="form-label" style="font-size: 14px;">Foto del Negocio</label>
                        <!--<p-fileUpload mode="basic" chooseLabel="Elegir" name="image" accept="image/*"  [maxFileSize]="1000000" (onUpload)="onUpload($event)"></p-fileUpload>-->
                        <p-fileUpload mode="basic" chooseLabel="Elegir" name="image" url="https://www.primefaces.org/cdn/api/upload.php" accept="image/*" [maxFileSize]="1000000" (onUpload)="onUpload($event)"></p-fileUpload>
                        <div *ngIf="!imageBase64" class="invalid-feedback floating-invalid-feedback">Debes subir una imagen del negocio.</div>
                      </div>

                      <div class="col-12 form-group" style="margin-top: 0px;">
                        <div class="form-check">
                          <input class="form-check-input" name="terms" type="checkbox" value="" id="acceptTerms" required required (change)="onTermsChange($event)">
                          <label class="form-check-label" for="acceptTerms" style="font-size: 12px;">Estoy de acuerdo y acepto los <a href="#">términos y condiciones</a></label>
                          <div class="invalid-feedback floating-invalid-feedback">Debes aceptar antes de enviar.</div>
                        </div>
                      </div>
                    
                      <div class="col-12" style="margin-top: -10px;">
                        <button class="btn btn-primary w-100" type="submit">Crear Cuenta</button>
                      </div>
                      <div class="col-12" style="margin-top: 5px; margin-bottom: -30px;">
                        <p class="small mb-0" style="font-size: 13px;">Ya tienes una cuenta? <a href="/login">Inicia sesión</a></p>
                      </div>
                    </form>
                  </div>
                </div>
    
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
    
  <p-messages [(value)]="messages1" [enableService]="false" [closable]="true" class="floating-message"></p-messages>

  </main><!-- End #main -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="assets/vendor/apexcharts/apexcharts.min.js"></script>
  <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="assets/vendor/chart.js/chart.umd.js"></script>
  <script src="assets/vendor/echarts/echarts.min.js"></script>
  <script src="assets/vendor/quill/quill.js"></script>
  <script src="assets/vendor/simple-datatables/simple-datatables.js"></script>
  <script src="assets/vendor/tinymce/tinymce.min.js"></script>
  <script src="assets/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="assets/js/main.js"></script>

</body>

</html>