<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Pages / Register - NiceAdmin Bootstrap Template</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="assets/img/favicon.png" rel="icon">
  <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.gstatic.com" rel="preconnect">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

</head>

<body>

  <main>
    <div class="container"><br><br><br>
      <section class="section register min-vh-100 d-flex flex-column align-items-center justify-content-center py-4">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-lg-4 col-md-6 d-flex flex-column align-items-center justify-content-center">
              <div class="card-wrapper position-relative">
    
                <div class="logo-wrapper position-absolute d-flex justify-content-center py-4" style="top: -100px; z-index: 100;">
                  <a href="">
                    <img src="assets/img/logo.png" alt="" width="auto" height="100px" style="z-index: 100;">
                  </a>
                </div><!-- End Logo -->
    
                <div class="card mb-3" style="margin-top: -100px;">
                  <div class="card-body">
                    <div class="pt-4 pb-2" style="margin-top: -20px;">
                      <h5 class="card-title text-center pb-0 fs-4">Crea una Cuenta</h5>
                      <p class="text-center small" style="margin-top: -10px; font-size: 13px;">Ingrese la siguiente información</p>
                    </div>
                
                      <div class="flex flex-wrap gap-3" style="margin-top: 10px;">
                        <div class="flex align-items-center">
                            <p-radioButton name="ciudadano" value="ciudadano" [(ngModel)]="tipo" inputId="tipo1" (onClick)="ngOnInit()"></p-radioButton>
                            <label for="tipo1" class="ml-2" style="font-size: 14px;">Ciudadano</label>
                        </div>
                        
                        <div class="flex align-items-center">
                            <p-radioButton name="negocio" value="negocio" [(ngModel)]="tipo" inputId="tipo2" (onClick)="ngOnInit()"></p-radioButton>
                            <label for="tipo2" class="ml-2" style="font-size: 14px;">Negocio</label>
                        </div>
                      </div> 
                      <div class="col-12" style="margin-top: 5px; margin-bottom: -30px;" *ngIf="tipo === ''">
                        <p class="small mb-0" style="font-size: 13px;">¿Ya tienes una cuenta? <a href="/login">Inicia sesión</a></p>
                      </div>

                    <form #ciudadanoform="ngForm" *ngIf="tipo === 'ciudadano'" (ngSubmit)="register(ciudadanoform)" class="row g-3 needs-validation" novalidate style="margin-top: -15px;">
                      <div class="col-12 form-group">
                        <label for="name" class="form-label" style="font-size: 14px;">Nombres</label>
                        <input type="text" name="name" [(ngModel)]="name" class="form-control" id="name" required style="font-size: 13px;">
                        <div class="invalid-feedback floating-invalid-feedback">Debes ingresar tus nombres!</div>
                      </div>
    
                      <div class="col-12 form-group" style="margin-top: -10px;">
                        <label for="lastname" class="form-label" style="font-size: 14px;">Apellidos</label>
                        <div class="input-group has-validation">
                          <input type="text" name="lastname" [(ngModel)]="lastname" class="form-control" id="lastname" required style="font-size: 13px;">
                          <div class="invalid-feedback floating-invalid-feedback">Ingresa tu nombre de usuario.</div>
                        </div>
                      </div>

                      <div class="col-12 form-group" style="margin-top: -10px;">
                        <label for="telefono" class="form-label" style="font-size: 14px;">Teléfono</label>
                        <div class="input-group has-validation">
                          <input type="text" name="telefono" [(ngModel)]="telefono" maxlength="10" pattern="^09\d{8}$" class="form-control" id="telefono" required style="font-size: 13px;">
                          <div class="invalid-feedback floating-invalid-feedback">Ingresa tu número telefónico (10 dígitos)</div>
                        </div>
                      </div>
                      
                      <div class="col-12 form-group" style="margin-top: -10px;">
                        <label for="fechaNacimiento" class="form-label" style="font-size: 14px;">Fecha de Nacimiento</label>
                        <div class="input-group has-validation">
                          <input type="date" name="fechaNacimiento" [(ngModel)]="fechaNacimiento" class="form-control" [max]="maxDate" id="fechaNacimiento" required style="font-size: 13px;">
                          <div class="invalid-feedback floating-invalid-feedback">Ingresa una fecha de nacimiento válida.</div>
                        </div>
                      </div>

                      <div class="col-12 form-group" style="margin-top: -10px;">
                        <label for="email" class="form-label" style="font-size: 14px;">Correo Electrónico</label>
                        <div class="input-group has-validation">
                          <span class="input-group-text" id="inputGroupPrepend">@</span>
                          <input type="email" [(ngModel)]="email" name="email" class="form-control" id="email" required style="font-size: 13px;">
                          <div class="invalid-feedback floating-invalid-feedback">Debes ingresar tu correo electrónico!</div>
                        </div>
                      </div>
                      <!--
                      <div class="col-12 form-group" style="margin-top: -10px;">
                        <label for="password" class="form-label" style="font-size: 14px;">Contraseña</label>
                        <input type="password" name="password" [(ngModel)]="password" class="form-control" id="password" required style="font-size: 13px;">
                        <div class="invalid-feedback floating-invalid-feedback">Debes ingresar tu contraseña!</div>
                      </div>
                      -->
                      <div class="col-12 form-group" style="margin-top: -10px;">
                        <label for="password" class="form-label" style="font-size: 14px;">Contraseña</label>
                        <input minlength="8" maxlength="16" pattern="^(?=.*[A-Z])(?=.*\d)[A-Za-z\d]{8,16}$" type="password" name="password" [(ngModel)]="password" class="form-control" id="password" required style="font-size: 13px;">
                        <div class="invalid-feedback floating-invalid-feedback">Debes ingresar tu contraseña valida (al menos una mayuscula y numero)!</div>
                      </div>
                      
                      <div class="col-12 form-group" style="margin-top: 0px;">
                        <div class="form-check">
                          <input class="form-check-input" name="terms" type="checkbox" value="" id="acceptTerms" required required (change)="onTermsChange($event)">
                          <label class="form-check-label" for="acceptTerms" style="font-size: 12px;">He leído y acepto los <a href="" (click)="ModalTerminosCondiciones($event)">términos y condiciones</a></label>
                          <div class="invalid-feedback floating-invalid-feedback">Debes aceptar antes de enviar.</div>
                        </div>
                      </div>
                      <div class="col-12" style="margin-top: -10px;">
                        <button class="btn btn-primary w-100" type="submit">Crear Cuenta</button>
                      </div>
                      <div class="col-12" style="margin-top: 5px; margin-bottom: -30px;">
                        <p class="small mb-0" style="font-size: 13px;">¿Ya tienes una cuenta? <a href="/login">Inicia sesión</a></p>
                      </div>
                    </form>
                    
                      
                      <div class="col-12 form-group" *ngIf="tipo === 'negocio'">
                        <label for="ruc" class="form-label" style="font-size: 14px;">Ingrese el RUC del negocio</label>
                        <div class="p-inputgroup">
                          <input name="ruc" id="ruc" [(ngModel)]="ruc" type="text" pInputText placeholder="RUC" style="height: 40px;" />
                          <button type="button" pButton styleClass="p-button-warn" style="height: 40px;" (click)="validateRuc()">
                            <i *ngIf="!isLoading" class="pi pi-check"></i>
                            <i *ngIf="isLoading" class="pi pi-spin pi-cog" style="font-size: 1rem"></i>
                          </button>
                        </div>
                        <div class="invalid-feedback floating-invalid-feedback">Debes ingresar el RUC del negocio!</div>
                        <div class="col-12" style="margin-top: 5px; margin-bottom: -30px;">
                          <p class="small mb-0" style="font-size: 13px;">¿Ya tienes una cuenta? <a href="/login">Inicia sesión</a></p>
                        </div>
                      </div>
                    
                    <form #negocioform="ngForm" *ngIf="tipo === 'negocio-valido'" (ngSubmit)="register(negocioform)" class="row g-3 needs-validation" novalidate style="margin-top: -15px;">

                      <div class="col-12 form-group">
                        <label for="name_neg" class="form-label" style="font-size: 14px;">Nombre del negocio</label>
                        <input type="text" name="name_neg" [(ngModel)]="name_neg" class="form-control" id="name" required style="font-size: 13px;">
                        <div class="invalid-feedback floating-invalid-feedback">Debes ingresar tus nombres!</div>
                      </div>

                      <div class="col-12 form-group" style="margin-top: -10px;">
                        <label for="propietario" class="form-label" style="font-size: 14px;">Propietario</label>
                        <div class="input-group has-validation">
                          <input type="text" name="propietario" [(ngModel)]="propietario" class="form-control" id="propietario" required style="font-size: 13px;">
                          <div class="invalid-feedback floating-invalid-feedback">Ingresa tu nombre de usuario.</div>
                        </div>
                      </div>
    
                      <div class="col-12 form-group" style="margin-top: -10px;">
                        <label for="t_negocio" class="form-label" style="font-size: 14px;">Tipo de Negocio</label>
                        <div class="input-group has-validation">
                          <input type="text" name="t_negocio" [(ngModel)]="t_negocio" class="form-control" id="t_negocio" required style="font-size: 13px;">
                          <div class="invalid-feedback floating-invalid-feedback">Ingresa tu nombre de usuario.</div>
                        </div>
                      </div>

                      <div class="col-12 form-group" style="margin-top: -10px;">
                        <label for="direccion" class="form-label" style="font-size: 14px;">Direccion</label>
                        <div class="input-group has-validation">
                          <input type="text" name="direccion" [(ngModel)]="direccion" class="form-control" id="direccion" required style="font-size: 13px;">
                          <div class="invalid-feedback floating-invalid-feedback">Ingresa tu nombre de usuario.</div>
                        </div>
                      </div>
                      
                      <div class="col-12 form-group" style="margin-top: -10px;">
                        <label for="fechaCreacion" class="form-label" style="font-size: 14px;">Fecha de creación del negocio</label>
                        <div class="input-group has-validation">
                          <input type="date" name="fechaCreacion" [(ngModel)]="fechaCreacion" class="form-control" id="fechaCreacion" [max]="maxDate" required style="font-size: 13px;">
                          <div class="invalid-feedback floating-invalid-feedback">Ingresa una fecha de creación válida.</div>
                        </div>
                      </div>                      

                      <div class="col-12 form-group" style="margin-top: -10px;">
                        <label for="telefono" class="form-label" style="font-size: 14px;">Teléfono</label>
                        <div class="input-group has-validation">
                          <input type="text" name="telefono" [(ngModel)]="telefono" maxlength="10" pattern="^09\d{8}$" class="form-control" id="telefono" required style="font-size: 13px;">
                          <div class="invalid-feedback floating-invalid-feedback">Ingresa tu número telefónico (10 dígitos)</div>
                        </div>
                      </div>

                      <div class="col-12 form-group" style="margin-top: -10px;">
                        <label for="email" class="form-label" style="font-size: 14px;">Correo Electrónico</label>
                        <div class="input-group has-validation">
                          <span class="input-group-text" id="inputGroupPrepend">@</span>
                          <input type="email" [(ngModel)]="email" name="email" class="form-control" id="email" required style="font-size: 13px;">
                          <div class="invalid-feedback floating-invalid-feedback">Debes ingresar tu correo electrónico!</div>
                        </div>
                      </div>
                      
                      <div class="col-12 form-group" style="margin-top: -10px;">
                        <label for="password" class="form-label" style="font-size: 14px;">Contraseña</label>
                        <input minlength="8" maxlength="16" pattern="^(?=.*[A-Z])(?=.*\d)[A-Za-z\d]{8,16}$" type="password" name="password" [(ngModel)]="password" class="form-control" id="password" required style="font-size: 13px;">
                        <div class="invalid-feedback floating-invalid-feedback">Debes ingresar tu contraseña valida (al menos una mayuscula y numero)!</div>
                      </div>

                      <!--
                      <div class="col-12 form-group" style="margin-top: -10px;">
                        <label for="image" class="form-label" style="font-size: 14px;">Subir Imagen</label>
                        <p-fileUpload name="image" accept="image/*" [maxFileSize]="1000000" (onUpload)="onUpload($event)" [customUpload]="true" chooseLabel="Elegir" uploadLabel="Subir" cancelLabel="Cancelar"></p-fileUpload>
                      </div>
                      -->
                      
                      <div class="col-12 form-group" style="margin-top: -10px;">
                        <label for="image" class="form-label" style="font-size: 14px;">Foto del Negocio</label>
                        <!--
                        <p-fileUpload mode="basic" chooseLabel="Elegir" name="image" url="https://www.primefaces.org/cdn/api/upload.php" [auto]="true" accept="image/*" [maxFileSize]="1000000" (onUpload)="onUpload($event)"></p-fileUpload>
                        -->
                        
                        <input class="form-control" type="file" id="formFile" accept="image/*" (change)="onFileSelected($event)" #fileInput>
                        <div *ngIf="!imageBase64" class="invalid-feedback floating-invalid-feedback">Debes subir una imagen del negocio.</div>
                      </div>


                      <div class="col-12 form-group" style="margin-top: 0px;">
                        <div class="form-check">
                          <input class="form-check-input" name="terms" type="checkbox" value="" id="acceptTerms" required required (change)="onTermsChange($event)">
                          <label class="form-check-label" for="acceptTerms" style="font-size: 12px;">He leído y acepto los <a href="" (click)="ModalTerminosCondiciones($event)">términos y condiciones</a></label>
                          <div class="invalid-feedback floating-invalid-feedback">Debes aceptar antes de enviar.</div>
                        </div>
                      </div>
                    
                      <div class="col-12" style="margin-top: -10px;">
                        <button class="btn btn-primary w-100" type="submit">Crear Cuenta</button>
                      </div>
                      <div class="col-12" style="margin-top: 5px; margin-bottom: -30px;">
                        <p class="small mb-0" style="font-size: 13px;">¿Ya tienes una cuenta? <a href="/login">Inicia sesión</a></p>
                      </div>
                    </form>
                    
                    <!-- TERMINOS Y CONDICIONES -->
                    <p-dialog
                    header="Nuevo"
                    [(visible)]="term_condiciones"
                    [modal]="true"
                    [style]="{ width: '50vw', height: '46vw' }"
                    [draggable]="false"
                    [resizable]="false"
                    >
                    <ng-template pTemplate="header">
                      <span class="small mb-0" style="font-size: 18px;">Términos y Condiciones GreenPoint</span>
                    </ng-template>
                    <ng-template pTemplate="content">
                      <div style="font-size: 14px;">
                        <h6>1. Introducción</h6>
                        <p>Bienvenido a GreenPoint, la aplicación que promueve el reciclaje mediante recompensas. Al registrarte como usuario (ya seas un negocio o un ciudadano), aceptas cumplir con estos términos y condiciones de uso.</p>
                        
                        <h6>2. Registro y Cuenta</h6>
                        <h6>2.1. Elegibilidad</h6>
                        <p>Para registrarte en GreenPoint, debes ser mayor de 18 años. Si eres un negocio, debes estar legalmente constituido y autorizado para operar en tu jurisdicción.</p>
                        <h6>2.2. Información de Registro</h6>
                        <p>Al crear una cuenta, te comprometes a proporcionar información veraz, completa y actualizada. Esto incluye, pero no se limita a, tu nombre, dirección de correo electrónico, número de teléfono, dirección y cualquier otra información necesaria.</p>
                        <h6>2.3. Seguridad de la Cuenta</h6>
                        <p>Eres responsable de mantener la confidencialidad de tu contraseña y cuenta. Notifícanos inmediatamente cualquier uso no autorizado de tu cuenta.</p>
                        
                        <h6>3. Uso de la Aplicación</h6>
                        <h6>3.1. Propósito</h6>
                        <p>GreenPoint se utiliza para promover el reciclaje y recompensar a los usuarios por la cantidad que reciclan.</p>
                        <h6>3.2. Ubicación</h6>
                        <p>Para brindarte un mejor servicio, GreenPoint utiliza la ubicación de tu dispositivo para ofrecerte geolocalización de puntos de reciclaje cercanos y eventos relacionados. Al aceptar estos términos, consientes el uso de tus datos de ubicación.</p>
                        <h6>3.3. Datos de Negocios</h6>
                        <p>Los negocios que se registren en GreenPoint deberán proporcionar datos precisos y verificables sobre su operación. GreenPoint se reserva el derecho de verificar la autenticidad de la información proporcionada y de eliminar cuentas fraudulentas.</p>
                        
                        <h6>4. Recompensas y Puntos</h6>
                        <h6>4.1. Acumulación de Puntos</h6>
                        <p>Los usuarios acumulan puntos por las actividades de reciclaje registradas en la aplicación. La cantidad de puntos depende del tipo y cantidad de material reciclado.</p>
                        <h6>4.2. Canje de Recompensas</h6>
                        <p>Los puntos acumulados pueden canjearse por recompensas disponibles en la aplicación. Las recompensas están sujetas a disponibilidad y pueden cambiar sin previo aviso.</p>
                        
                        <h6>5. Privacidad y Datos Personales</h6>
                        <h6>5.1. Recopilación de Datos</h6>
                        <p>GreenPoint recopila y utiliza datos personales para operar y mejorar la aplicación. Esto incluye información proporcionada durante el registro y datos de ubicación.</p>
                        <h6>5.2. Uso de Datos</h6>
                        <p>Tus datos personales se utilizan para validar tu identidad, ofrecerte servicios personalizados, y mejorar tu experiencia en GreenPoint. No compartimos tus datos personales con terceros sin tu consentimiento, salvo que sea requerido por la ley.</p>
                        
                        <h6>6. Conducta del Usuario</h6>
                        <h6>6.1. Comportamiento Responsable</h6>
                        <p>Te comprometes a utilizar GreenPoint de manera responsable y a no participar en actividades fraudulentas o ilegales.</p>
                        <h6>6.2. Contenido Generado por el Usuario</h6>
                        <p>Eres responsable del contenido que generes y publiques en GreenPoint. Esto incluye, pero no se limita a, comentarios, fotos y datos de reciclaje.</p>
                        
                        <h6>7. Modificaciones a los Términos y Condiciones</h6>
                        <p>GreenPoint se reserva el derecho de modificar estos términos y condiciones en cualquier momento. Te notificaremos de cualquier cambio importante a través de la aplicación o por correo electrónico.</p>
                        
                        <h6>8. Terminación</h6>
                        <h6>8.1. Terminación por Parte del Usuario</h6>
                        <p>Puedes cerrar tu cuenta en cualquier momento. Los puntos no utilizados se perderán al cerrar la cuenta.</p>
                        <h6>8.2. Terminación por Parte de GreenPoint</h6>
                        <p>GreenPoint puede suspender o terminar tu cuenta si violas estos términos y condiciones o si se detecta actividad fraudulenta.</p>
                        
                        <h6>9. Contacto</h6>
                        <p>Si tienes preguntas o comentarios sobre estos términos y condiciones, puedes contactarnos a través del soporte de GreenPoint en greenpoint7064@gmail.com o 0994011067.</p>
                      </div>
                    </ng-template>
                    </p-dialog>

                  </div>
                </div>
    
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
  
  <p-messages [(value)]="messages2" [enableService]="false" [closable]="true" class="floating-message"></p-messages>
  <p-messages [(value)]="messages1" [enableService]="false" [closable]="true" class="floating-message"></p-messages>

  </main><!-- End #main -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="assets/vendor/apexcharts/apexcharts.min.js"></script>
  <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="assets/vendor/chart.js/chart.umd.js"></script>
  <script src="assets/vendor/echarts/echarts.min.js"></script>
  <script src="assets/vendor/quill/quill.js"></script>
  <script src="assets/vendor/simple-datatables/simple-datatables.js"></script>
  <script src="assets/vendor/tinymce/tinymce.min.js"></script>
  <script src="assets/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="assets/js/main.js"></script>

</body>

</html>