<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Dashboard - Negocio</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="assets2/img/favicon.png" rel="icon">
  <link href="assets2/img/apple-touch-icon.png" rel="apple-touch-icon">
  <!-- Bootstrap CSS 
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/5.3.3/css/bootstrap.min.css" rel="stylesheet">-->
  <!-- Optionally, you can include Popper.js for tooltips and popovers 
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.11.6/umd/popper.min.js"></script>-->
  <!-- Bootstrap JS 
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.3.3/js/bootstrap.min.js"></script>-->



  <!-- Google Fonts -->
  <link href="https://fonts.gstatic.com" rel="preconnect">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">


</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="header fixed-top d-flex align-items-center">

    <div class="d-flex align-items-center justify-content-between">
      <a href="/user-negocio">
        <img src="assets/img/hero-imsg.png" height="50px" width="auto">
      </a>
      <a href="/user-negocio" class="logo d-flex align-items-center">
        <span class="d-none d-lg-block">GreenPoint</span>
      </a>
      <!--</i><i class="bi bi-list toggle-sidebar-btn"></i>-->
      
      <i class="bi bi-list toggle-sidebar-btn" (click)="toggleSidebar($event)"></i>
    </div><!-- End Logo -->
    <!-- 
    <div class="search-bar">
      <form class="search-form d-flex align-items-center" method="POST" action="#">
        <input type="text" name="query" placeholder="Search" title="Enter search keyword">
        <button type="submit" title="Search"><i class="bi bi-search"></i></button>
      </form>
    </div>End Search Bar -->

    <nav class="header-nav ms-auto">
      <ul class="d-flex align-items-center">

    
       
        <li class="nav-item dropdown pe-3"> 
          <a class="nav-link nav-profile d-flex align-items-center pe-0" (click)="toggleMenu('profile', $event)" role="button">
            <div class="profile-image-container">
              <img *ngIf="imgbase64" [src]="imgbase64" alt="Negocio" class="profile-image">
            </div>
            <span class="d-none d-md-block dropdown-toggle ps-2">{{ ngc?.nombre }}</span>
          </a>
          <!-- End Profile Image Icon -->
        
          <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow profile" *ngIf="menus['profile']" style="right: 15px !important; top: 45px !important;">
            <li class="dropdown-header">
              <h6>{{ ngc?.nombre }}</h6>
              <span>Negocio</span>
            </li>
            <li>
              <hr class="dropdown-divider">
            </li>
        
            <li>
              <a class="dropdown-item d-flex align-items-center" href="" (click)="SeccionPerfil($event)">
                <i class="bi bi-person"></i>
                <span>Mi Perfil</span>
              </a>
            </li>
            <li>
              <hr class="dropdown-divider">
            </li>

            <li>
              <a class="dropdown-item d-flex align-items-center" href="" (click)="SeccionFaq($event)">
                <i class="bi bi-question-circle"></i>
                <span>¿Necesitas Ayuda?</span>
              </a>
            </li>
            <li>
              <hr class="dropdown-divider">
            </li>
            <li *ngIf="authService.isAuthenticated()">
              <a (click)="logout()" class="dropdown-item d-flex align-items-center" role="button">
                <i class="bi bi-box-arrow-right"></i>
                <span>Cerrar Sesión</span>
              </a>
            </li>
          </ul>
          <!-- End Profile Dropdown Items -->
        </li>
        <!-- End Profile Nav -->
        


      </ul>
    </nav><!-- End Icons Navigation -->

  </header><!-- End Header -->

  <!-- ======= Sidebar ======= -->
  <aside id="sidebar" class="sidebar" [class.collapsed]="sidebarCollapsed">

    <ul class="sidebar-nav" id="sidebar-nav">

      <li class="nav-item">
        <a class="nav-link collapsed" href="" (click)="SeccionDashboard($event)">
          <i class="bi bi-grid"></i>
          <span>Dashboard</span>
        </a>
      </li><!-- End Dashboard Nav -->

      <li class="nav-item">
        <a class="nav-link collapsed" (click)="SeccionRegistroReciclaje($event)" href="#">
          <i class="bi bi-menu-button-wide"></i><span>Registrar reciclaje</span>
        </a>
      </li><!-- End Components Nav -->

      <li class="nav-item">
        <a class="nav-link collapsed" (click)="SeccionPuntosVerdes($event)" data-bs-toggle="collapse" href="#">
          <i class="bi bi-journal-text"></i><span>Mis puntos verdes</span>
        </a>
      </li><!-- End Forms Nav -->

      <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#charts-nav" data-bs-toggle="collapse" href="#">
          <i class="bi bi-bar-chart"></i><span>Ofertas</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="charts-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
          <li>
            <a href="" (click)="SeccionVerOfertas($event)">
              <i class="bi bi-circle"></i><span>Ver ofertas</span>
            </a>
          </li>
          <li>
            <a href="" (click)="SeccionGestionOfertas($event)">
              <i class="bi bi-circle"></i><span>Gestionar mis Ofertas</span>
            </a>
          </li>
        </ul>
      </li><!-- End Charts Nav -->

      <li class="nav-item">
        <a class="nav-link collapsed" (click)="SeccionValidarCodigo($event)" href="#">
          <i class="bi bi-cart4"></i><span>Canjear código</span>
        </a>
      </li><!-- End Tables Nav -->

      <li class="nav-item">
        <a class="nav-link collapsed" (click)="SeccionHistorial($event)" href="#">
          <i class="bi bi-layout-text-window-reverse"></i><span>Historial de reciclaje</span>
        </a>
      </li><!-- End Tables Nav -->
      

      <li class="nav-heading">Páginas</li>

      <li class="nav-item">
        <a class="nav-link collapsed" href="" (click)="SeccionPerfil($event)" >
          <i class="bi bi-person"></i>
          <span>Perfil</span>
        </a>
      </li><!-- End Profile Page Nav -->

      <li class="nav-item">
        <a class="nav-link collapsed" href="" (click)="SeccionFaq($event)">
          <i class="bi bi-question-circle"></i>
          <span>F.A.Q</span>
        </a>
      </li><!-- End F.A.Q Page Nav -->

      <li class="nav-item">
        <a class="nav-link collapsed" href="" (click)="SeccionContacto($event)">
          <i class="bi bi-envelope"></i>
          <span>Contacto</span>
        </a>
      </li><!-- End Contact Page Nav -->

    </ul>

  </aside><!-- End Sidebar-->

  <main id="main" class="main" [class.toggle-sidebar]="sidebarCollapsed">
    <!-- Contenido para el dash del negocio -->
    <div *ngIf="seccion === '1'">  
    <div class="pagetitle">
      <h1>Dashboard - {{ ngc?.nombre }}</h1>
    </div><!-- End Page Title -->

      <section class="section dashboard">
      <div class="row">

        <!-- Left side columns -->
        <div class="col-lg-8">
          <div class="row">

            <!-- Sales Card -->
            <div class="col-xxl-4 col-md-6">
              <div class="card info-card sales-card">

                <div class="card-body">
                  <h5 class="card-title">Tus ofertas <span>| Tienes</span></h5>

                  <div class="d-flex align-items-center">
                    <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                      <i class="bi bi-plus-slash-minus"></i>
                    </div>
                    <div class="ps-3">
                      <h6>{{this.cant_ofts+" "}}<span style="font-size: 20px;">ofertas</span></h6>
                      <a href="" class="text-success small pt-1 fw-bold" (click)="SeccionGestionOfertas($event)">Agregar</a><span class="text-muted small pt-2 ps-1">ofertas</span>
                    </div>
                  </div>
                </div>

              </div>
            </div><!-- End Sales Card -->

            <!-- Revenue Card -->
            <div class="col-xxl-4 col-md-6">
              <div class="card info-card revenue-card">
                <div class="card-body">
                  <h5 class="card-title">Tus puntos verdes </h5>

                  <div class="d-flex align-items-center">
                    <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                      <i class="bi bi-geo-alt-fill"></i>
                    </div>
                    <div class="ps-3">
                      <h6>{{this.cant_pvs+" "}}<span style="font-size: 20px;">activos</span></h6>
                      <a href="" class="text-success small pt-1 fw-bold" (click)="SeccionPuntosVerdes($event)">Agregar</a><span class="text-muted small pt-2 ps-1">PVs</span>
                    </div>
                  </div>
                </div>

              </div>
            </div><!-- End Revenue Card -->

            
            <!-- Reports -->
            <div class="col-12">
              <div class="card">
<!-- 
                <div class="filter">
                  <a class="icon" data-bs-toggle="dropdown" (click)="toggleMenu('menu4', $event)" role="button"><i class="bi bi-three-dots"></i></a>
                  <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow" *ngIf="menus['menu4']">
                    <li class="dropdown-header text-start">
                      <h6>Filter</h6>
                    </li>

                    <li><a class="dropdown-item" href="#">Today</a></li>
                    <li><a class="dropdown-item" href="#">This Month</a></li>
                    <li><a class="dropdown-item" href="#">This Year</a></li>
                  </ul>
                </div>
 -->
                <div class="card-body">
                  <h5 class="card-title">Puntos Verdes <span>/Ecuador</span></h5>
                  <!-- Line Chart -->
                  <div id="reportsChart"></div>
                  <app-pg-puntosverdes></app-pg-puntosverdes>
                  
                  <!-- End Line Chart -->

                </div>

              </div>
            </div><!-- End Reports -->
          </div>
        </div><!-- End Left side columns -->

        <!-- Right side columns -->
        <div class="col-lg-4">

          <!-- News & Updates Traffic -->
          <div class="card">
            

            <div class="card-body pb-0">
              <h5 class="card-title">Publicidad <span>| Today</span></h5>

              <div class="news">
                <div class="post-item clearfix">
                  <!--<img src="assets2/img/news-1.jpg" alt="">-->
                  <h4><a href="#">Nihil blanditiis at in nihil autem</a></h4>
                  <p>Sit recusandae non aspernatur laboriosam. Quia enim eligendi sed ut harum...</p>
                </div>

                <div class="post-item clearfix">
                  <!--<img src="assets2/img/news-1.jpg" alt="">-->
                  <h4><a href="#">Quidem autem et impedit</a></h4>
                  <p>Illo nemo neque maiores vitae officiis cum eum turos elan dries werona nande...</p>
                </div>

                <div class="post-item clearfix">
                  <!--<img src="assets2/img/news-1.jpg" alt="">-->
                  <h4><a href="#">Id quia et et ut maxime similique occaecati ut</a></h4>
                  <p>Fugiat voluptas vero eaque accusantium eos. Consequuntur sed ipsam et totam...</p>
                </div>

                <div class="post-item clearfix">
                  <!--<img src="assets2/img/news-1.jpg" alt="">-->
                  <h4><a href="#">Laborum corporis quo dara net para</a></h4>
                  <p>Qui enim quia optio. Eligendi aut asperiores enim repellendusvel rerum cuder...</p>
                </div>

                <div class="post-item clearfix">
                  <!--<img src="assets2/img/news-1.jpg" alt="">-->
                  <h4><a href="#">Et dolores corrupti quae illo quod dolor</a></h4>
                  <p>Odit ut eveniet modi reiciendis. Atque cupiditate libero beatae dignissimos eius...</p>
                </div>

              </div><!-- End sidebar recent posts-->

            </div>
          </div><!-- End News & Updates -->

        </div><!-- End Right side columns -->

      </div>
    </section>

    </div>

    <!-- Contenido para los puntos verdes -->
    <div *ngIf="seccion === '2'">
      <app-pg-dashpuntosverdesnegocio></app-pg-dashpuntosverdesnegocio>
    </div>
    <!-- Contenido para las registro reciclaje -->
    <div *ngIf="seccion === '3'">
      <app-pg-registroreciclaje></app-pg-registroreciclaje>
    </div>
    <!-- Contenido para historial -->
    <div *ngIf="seccion === '4'">
      <app-pg-historialnegocio></app-pg-historialnegocio>
    </div>
    <!-- Contenido para historial -->
    <div *ngIf="seccion === '5'">
      <app-pg-verofertas></app-pg-verofertas>
    </div>
    <!-- Contenido para historial -->
    <div *ngIf="seccion === '6'">
      <app-pg-gestionofertas></app-pg-gestionofertas>
    </div>
  <!-- Contenido para validar el código de oferta -->
    <div *ngIf="seccion === '7'">
      <app-pg-validarcodigo></app-pg-validarcodigo>
    </div>
  <!-- Contenido para FAQ -->
  <div *ngIf="seccion === '8'">
    <app-pg-faq></app-pg-faq>
  </div>
  <!-- Contenido para Contacto -->
  <div *ngIf="seccion === '9'">
    <app-pg-contacto></app-pg-contacto>
  </div>
  <!-- Contenido para Perfil -->
  <div *ngIf="seccion === '10'">
    <app-pg-perfilnegocio></app-pg-perfilnegocio>
  </div>


  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer" class="footer">
    <div class="copyright">
      &copy; Copyright <strong><span>GreenPoint</span></strong>. Todos los derechos reservados
    </div>
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>
  <!-- Bootstrap JS 
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.3.3/js/bootstrap.bundle.min.js"></script>-->
</body>

</html>
