
<p-tabView styleClass="tabview-custom">
    <p-tabPanel>
        <ng-template pTemplate="header">
            <i class="pi pi-cog"></i>
            <span>&nbsp;Materiales</span>
        </ng-template>
        <app-pg-material></app-pg-material>
    </p-tabPanel>
    <p-tabPanel header="Header II">
        <ng-template pTemplate="header">
            <i class="pi pi-cog"></i>
            <span>&nbsp;Ofertas</span>
        </ng-template>
        <app-pg-oferta></app-pg-oferta>
    </p-tabPanel>
    <p-tabPanel header="Header III">
        <ng-template pTemplate="header">
            <i class="pi pi-cog"></i>
            <span>&nbsp;Puntos Verdes</span>
        </ng-template>
        <app-pg-puntoverde></app-pg-puntoverde>
    </p-tabPanel>
    <p-tabPanel header="Header IV">
        <ng-template pTemplate="header">
            <i class="pi pi-cog"></i>
            <span>&nbsp;Negocios</span>
        </ng-template>
        <app-pg-negocio></app-pg-negocio>
    </p-tabPanel>
    <p-tabPanel header="Header V">
        <ng-template pTemplate="header">
            <i class="pi pi-cog"></i>
            <span>&nbsp;Administradores</span>
        </ng-template>
        <app-pg-administradores></app-pg-administradores>
    </p-tabPanel>
</p-tabView>
<!-- 
<p-tabView>
    <p-tabPanel header="Header IV">
        <ng-template pTemplate="header">
            <i class="pi pi-cog"></i>
            <span>&nbsp;Negocios</span>
        </ng-template>
        <app-pg-negocio></app-pg-negocio>
    </p-tabPanel>
    <p-tabPanel header="Header V">
        <ng-template pTemplate="header">
            <i class="pi pi-cog"></i>
            <span>&nbsp;Administradores</span>
        </ng-template>
        <app-pg-administradores></app-pg-administradores>
    </p-tabPanel>
</p-tabView> 
-->