<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title> Recuperacion - GreenPoint</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="assets/img/favicon.png" rel="icon">
  <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.gstatic.com" rel="preconnect">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

</head>

<body>

  <main>
    <div class="container"><br>
      <section class="section register min-vh-100 d-flex flex-column align-items-center justify-content-center py-4">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-lg-4 col-md-6 d-flex flex-column align-items-center justify-content-center">
              <div class="card-wrapper position-relative">
    
                <div class="logo-wrapper position-absolute d-flex justify-content-center py-4" style="top: -80px; z-index: 100;">
                  <a href="">
                    <img src="assets/img/logo.png" alt="" width="auto" height="100px" style="z-index: 100;">
                  </a>
                </div><!-- End Logo -->
    
                <div class="card mb-3" style="margin-top: -80px;">
    
                  <div class="card-body">
    
                    <div class="pt-4 pb-2" >
                      <h5 class="card-title text-center pb-0 fs-4" style="margin-top: -30px;">Recuperación de cuenta</h5>
                      <p class="text-center small" style="font-size: 13px;">Ingrese su correo para el envío del código</p>
                    </div>
    
                    <form #form="ngForm" *ngIf="paso === 1" (ngSubmit)="recuperar(form)" class="row g-3 needs-validation" novalidate>
    
                      <div class="col-12 form-group">
                        <label for="email" class="form-label" style="font-size: 14px;">Correo electrónico</label>
                        <div class="input-group has-validation">
                          <span class="input-group-text" id="inputGroupPrepend">&#64;</span>
                          <input type="email" name="username" [(ngModel)]="email" class="form-control" id="email" required style="font-size: 13px;">
                          <div class="invalid-feedback floating-invalid-feedback">Ingrese su correo electrónico.</div>
                        </div>
                      </div>
                      <div class="col-12" style="margin-top: 10px;">
                        <button class="btn btn-primary w-100" type="submit" >Enviar código</button>
                      </div>
                      <div class="col-12" style="margin-top: -5px; margin-bottom: -30px;" >
                        <p class="small mb-0" style="font-size: 13px; margin-top: 10px;">¿No tienes cuenta? <a href="/registro">Regístrate ahora</a></p>
                      </div>


                      <p-dialog
                      header="Nuevo"
                      [(visible)]="visibleNuevo"
                      [modal]="true"
                      [style]="{ width: '25vw' }"
                      [draggable]="false"
                      [resizable]="false"
                    >
                    
                        <ng-template pTemplate="header">
                        <span class="small mb-0 " style="font-size: 17px;">Ingresa el codigo enviado a tu correo (duración 1h)</span>
                        </ng-template>
                        <ng-template pTemplate="content">
                            <form #form="ngForm"  (ngSubmit)="validateToken()" class="row g-3 needs-validation" novalidate>
                                <!--
                                <div class="p-inputgroup">
                                    <span class="p-inputgroup-addon">
                                        <i class="pi pi-pencil"></i>
                                    </span>
                                    <input pInputText placeholder="Codigo" [(ngModel)]="token" class="p-inputtext-sm" (input)="token = token"/>
                                </div>
                                -->
                                <div class="input-group has-validation" style="margin-top: 19px;">
                                    <input type="text" name="token" [(ngModel)]="token" class="form-control" id="token" required style="font-size: 13px;">
                                    <div class="invalid-feedback floating-invalid-feedback">Ingrese el codigo.</div>
                                  </div>

                                <div class="col-12" style="margin-top: 10px;">
                                    <button class="btn btn-primary w-100" type="submit" >Validar código</button>
                                </div>
                            </form>
                        </ng-template>
                    </p-dialog>

                    </form>


                    <form #form="ngForm" *ngIf="paso === 2" (ngSubmit)="changePassword(form)" class="row g-3 needs-validation" novalidate>
    
                        <div class="col-12 form-group">
                          <!--
                          <div class="input-group has-validation">
                            <input type="password" name="password" [(ngModel)]="password" class="form-control" id="password" required style="font-size: 13px;">
                            <div class="invalid-feedback floating-invalid-feedback">Ingrese una nueva contraseña.</div>
                          </div>
                          -->
                          <div class="col-12 form-group" style="margin-top: -10px;">
                            <label for="password" class="form-label" style="font-size: 14px;">Nueva Contraseña</label>
                            <input minlength="8" maxlength="16" pattern="^(?=.*[A-Z])(?=.*\d)[A-Za-z\d]{8,16}$" type="password" name="password" [(ngModel)]="password" class="form-control" id="password" required style="font-size: 13px;">
                            <div class="invalid-feedback floating-invalid-feedback">Contraseña incorrecta!</div>
                          </div>

                        </div>
                        <div class="col-12" style="margin-top: 10px;">
                          <button class="btn btn-primary w-100" type="submit" >Actualizar</button>
                        </div>
                        <div class="col-12" style="margin-top: -5px; margin-bottom: -30px;" >
                          <p class="small mb-0" style="font-size: 13px; margin-top: 10px;">¿No tienes cuenta? <a href="/registro">Regístrate ahora</a></p>
                        </div> 
  
                      </form>


                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
    
    <p-messages [(value)]="messages1" [enableService]="false" [closable]="false" class="floating-message"></p-messages>
    <p-messages [(value)]="messages2" [enableService]="false" [closable]="false" class="floating-message"></p-messages>
</main><!-- End #main -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="assets/vendor/apexcharts/apexcharts.min.js"></script>
  <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="assets/vendor/chart.js/chart.umd.js"></script>
  <script src="assets/vendor/echarts/echarts.min.js"></script>
  <script src="assets/vendor/quill/quill.js"></script>
  <script src="assets/vendor/simple-datatables/simple-datatables.js"></script>
  <script src="assets/vendor/tinymce/tinymce.min.js"></script>
  <script src="assets/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="assets/js/main.js"></script>

</body>

</html>
