<!-- ======= Header ======= -->
<header id="header" class="header fixed-top d-flex align-items-center">

  <div class="d-flex align-items-center justify-content-between">
    <a href="/dashadmin/principaladmin">
      <img src="assets/img/hero-imsg.png" height="50px" width="auto">
    </a>
    <a href="/dashadmin/principaladmin" class="logo d-flex align-items-center">
      <span class="d-none d-lg-block">GreenPoint</span>
    </a>
    <!--</i><i class="bi bi-list toggle-sidebar-btn"></i>-->
    
    <i class="bi bi-list toggle-sidebar-btn" (click)="toggleSidebar()"></i>
  </div><!-- End Logo -->

  <nav class="header-nav ms-auto">
    <ul class="d-flex align-items-center">
      
      <li class="nav-item dropdown pe-3">
        <a class="nav-link nav-profile d-flex align-items-center pe-0" (click)="toggleMenu('profile', $event)" role="button">
          <img src="assets/img/profile-img.jpg" alt="Profile" class="rounded-circle">
          <span class="d-none d-md-block dropdown-toggle ps-2">{{ user?.nombre }}</span>
        </a>
        <!-- End Profile Image Icon -->
      
        <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow profile" *ngIf="menus['profile']" style="right: 15px !important; top: 45px !important;">
          <li class="dropdown-header">
            <h6>{{ user?.nombre }}</h6>
            <span>Administrador</span>
          </li>
          <li>
            <hr class="dropdown-divider">
          </li>
          <li *ngIf="authService.isAuthenticated()">
            <a (click)="logout()" class="dropdown-item d-flex align-items-center" role="button">
              <i class="bi bi-box-arrow-right"></i>
              <span>Cerrar Sesión</span>
            </a>
          </li>
        </ul>
        <!-- End Profile Dropdown Items -->
      </li>
      <!-- End Profile Nav -->
    </ul>
  </nav><!-- End Icons Navigation -->

</header><!-- End Header -->

<!-- ======= Sidebar ======= -->
<aside id="sidebar" class="sidebar" [class.collapsed]="sidebarCollapsed">

  <ul class="sidebar-nav" id="sidebar-nav">
    <li class="nav-item">
      <a class="nav-link " [ngClass]="{'collapsed': collapsed}" href="/dashadmin/principaladmin">        <i class="bi bi-grid"></i>
        <span>Panel Principal</span>
      </a>
    </li><!-- End Dashboard Nav -->
  
    <li class="nav-item">
      <a class="nav-link collapsed" data-bs-target="#components-nav" data-bs-toggle="collapse" href="#">
        <i class="bi bi-menu-button-wide"></i><span>Gestión</span><i class="bi bi-chevron-down ms-auto"></i>
      </a>
      <ul id="components-nav" class="nav-content collapse" data-bs-parent="#sidebar-nav">
        <li>
          <a href="" (click)="SeccionMateriales($event)" [ngClass]="{'active': activeSection === 'materiales'}">
            <i class="bi bi-circle"></i><span>Materiales</span>
          </a>
        </li>
        <li>
          <a href="" (click)="SeccionOfertas($event)" [ngClass]="{'active': activeSection === 'ofertas'}">
            <i class="bi bi-circle"></i><span>Ofertas</span>
          </a>
        </li>
        <li>
          <a href="" (click)="SeccionPuntosVerdes($event)" [ngClass]="{'active': activeSection === 'puntosverdes'}">
            <i class="bi bi-circle"></i><span>Puntos Verdes</span>
          </a>
        </li>
        <li>
          <a href="" (click)="SeccionCiudadanos($event)" [ngClass]="{'active': activeSection === 'ciudadanos'}">
            <i class="bi bi-circle"></i><span>Ciudadanos</span>
          </a>
        </li>
        <li>
          <a href="" (click)="SeccionNegocios($event)" [ngClass]="{'active': activeSection === 'negocios'}">
            <i class="bi bi-circle"></i><span>Negocios</span>
          </a>
        </li>
        <li *ngIf="user.admin_id === 1 || user.admin_id === 2">
          <a href="" (click)="SeccionAdmins($event)" [ngClass]="{'active': activeSection === 'admins'}">
            <i class="bi bi-circle"></i><span>Administradores</span>
          </a>
        </li>
      </ul>
    </li>
    <li class="nav-heading">Páginas</li>
  
    <li class="nav-item">
      <a class="nav-link" [ngClass]="{'collapsed': activeMenu !== 'profile'}" href="" (click)="SeccionPerfil($event)">        <i class="bi bi-person"></i>
        <span>Perfil</span>
      </a>
    </li><!-- End Profile Page Nav -->
  </ul>
  

</aside><!-- End Sidebar-->
<main id="main" class="main" [class.toggle-sidebar]="sidebarCollapsed">
  <div *ngIf="seccion === '1'">
    <div class="pagetitle">
      <h1>Panel Principal</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="/dashadmin/principaladmin">Home</a></li>
          <li class="breadcrumb-item active">Administración - {{ user?.nombre }}</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->
  
    <section class="section dashboard">
      <!-- Left side columns -->
        <div class="row">

          <!-- Sales Card -->
          <div class="col-xxl-4 col-md-6">
            <div class="card info-card revenue-card">
              <div class="card-body">
                <h5 class="card-title">Ofertas <span>| Activas</span></h5>

                <div class="d-flex align-items-center">
                  <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                    <i class="bi bi-plus-slash-minus"></i>
                  </div>
                  <div class="ps-3">
                    <h6>{{ofertAct}}<span style="font-size: 20px;">ofertas</span></h6>
                    <a href="" class="text-success small pt-1 fw-bold" (click)="SeccionOfertas($event)">Agregar ofertas</a>

                  </div>
                </div>
              </div>
            </div>
          </div><!-- End Sales Card -->
          <!-- Sales Card -->
          <div class="col-xxl-4 col-md-6">
            <div class="card info-card customers-card">
              <div class="card-body">
                <h5 class="card-title">Ofertas <span>| Inactivas</span></h5>

                <div class="d-flex align-items-center">
                  <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                    <i class="bi bi-plus-slash-minus"></i>
                  </div>
                  <div class="ps-3">
                    <h6>{{ofertIna}}<span style="font-size: 20px;">ofertas</span></h6>
                    <a href="" class="text-success small pt-1 fw-bold" (click)="SeccionOfertas($event)">Agregar Ofertas</a>

                  </div>
                </div>
              </div>
            </div>
          </div><!-- End Sales Card --> 
                 
          <div class="col-xxl-4 col-md-6">
            <div class="card info-card revenue-card">
              <div class="card-body">
                <h5 class="card-title">Puntos Verdes <span>| Activos</span></h5>

                <div class="d-flex align-items-center">
                  <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                    <i class="bi bi-geo-alt-fill"></i>
                  </div>
                  <div class="ps-3">
                    <h6>{{PuntoAct}}<span style="font-size: 20px;">Puntos Verdes</span></h6>
                    <a href="" class="text-success small pt-1 fw-bold" (click)="SeccionPuntosVerdes($event)">Gestión Puntos</a>

                  </div>
                </div>
              </div>
            </div>
          </div><!-- End Sales Card -->
          <!-- Sales Card -->
          <div class="col-xxl-4 col-md-6">
            <div class="card info-card customers-card">
              <div class="card-body">
                <h5 class="card-title">Puntos Verdes <span>| Inactivas</span></h5>

                <div class="d-flex align-items-center">
                  <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                    <i class="bi bi-geo-alt-fill"></i>
                  </div>
                  <div class="ps-3">
                    <h6>{{PuntoIna}}<span style="font-size: 20px;">Puntos Verdes</span></h6>
                    <a href="" class="text-success small pt-1 fw-bold" (click)="SeccionPuntosVerdes($event)">Gestión Puntos</a>

                  </div>
                </div>
              </div>
            </div>
          </div><!-- End Sales Card --> 
          <div class="col-xxl-4 col-md-6">
            <div class="card info-card revenue-card">
              <div class="card-body">
                <h5 class="card-title">Negocios <span>| Activos</span></h5>

                <div class="d-flex align-items-center">
                  <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                    <i class='bx bx-store-alt'></i>
                  </div>
                  <div class="ps-3">
                    <h6>{{negocioAct}}<span style="font-size: 20px;">Negocios</span></h6>
                    <a href="" class="text-success small pt-1 fw-bold" (click)="SeccionNegocios($event)">Gestión Negocios</a>

                  </div>
                </div>
              </div>
            </div>
          </div><!-- End Sales Card -->
          <!-- Sales Card -->
          <div class="col-xxl-4 col-md-6">
            <div class="card info-card customers-card">
              <div class="card-body">
                <h5 class="card-title">Negocios <span>| Inactivas</span></h5>

                <div class="d-flex align-items-center">
                  <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                    <i class='bx bx-store-alt'></i>                  </div>
                  <div class="ps-3">
                    <h6>{{negocioIna}}<span style="font-size: 20px;">Negocios</span></h6>
                    <a href="" class="text-success small pt-1 fw-bold" (click)="SeccionNegocios($event)">Gestión Negocios</a>

                  </div>
                </div>
              </div>
            </div>
          </div><!-- End Sales Card --> 
          <div class="col-xxl-4 col-md-6">
            <div class="card info-card revenue-card">
              <div class="card-body">
                <h5 class="card-title">Ciudadanos <span>| Activos</span></h5>

                <div class="d-flex align-items-center">
                  <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                    <i class='bx bx-user-check'></i>
                  </div>
                  <div class="ps-3">
                    <h6>{{ciudadanoAct}}<span style="font-size: 20px;">Ciudadanos</span></h6>
                    <a href="" class="text-success small pt-1 fw-bold" (click)="SeccionCiudadanos($event)">Gestión Ciudadanos</a>

                  </div>
                </div>
              </div>
            </div>
          </div><!-- End Sales Card -->
          <!-- Sales Card -->
          <div class="col-xxl-4 col-md-6">
            <div class="card info-card customers-card">
              <div class="card-body">
                <h5 class="card-title">Ciudadanos<span>| Inactivas</span></h5>

                <div class="d-flex align-items-center">
                  <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                    <i class='bx bx-user-x'></i>                  </div>
                  <div class="ps-3">
                    <h6>{{ciudadanoIna}}<span style="font-size: 20px;">Ciudadanos</span></h6>
                    <a href="" class="text-success small pt-1 fw-bold" (click)="SeccionCiudadanos($event)">Gestión Ciudadanos</a>

                  </div>
                </div>
              </div>
            </div>
          </div><!-- End Sales Card --> 

        </div>
         
    </section>
  </div>
  <div *ngIf="seccion === '2'">
    <app-pg-material></app-pg-material>
  </div>
  <div *ngIf="seccion === '3'">
    <app-pg-oferta></app-pg-oferta>
  </div>
  <div *ngIf="seccion === '4'">
    <app-pg-puntoverde></app-pg-puntoverde>
  </div>
  <div *ngIf="seccion === '5'">
    <app-pg-negocio></app-pg-negocio>
  </div>
  <div *ngIf="seccion === '6'">
    <app-pg-administradores></app-pg-administradores>
  </div>
  <div *ngIf="seccion === '7'">
    <app-pg-ciudadanos></app-pg-ciudadanos>
  </div>
  <div *ngIf="seccion === '8'">
    <app-pg-perfil-admin></app-pg-perfil-admin>
  </div>
  <footer id="footer" class="footer">
    <div class="copyright">
      &copy; Copyright <strong><span>GreenPoint</span></strong>. Todos los derechos reservados
    </div>
  </footer><!-- End Footer -->
</main><!-- End #main -->
<link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>


